<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reseña</title>
</head>
<body>
    <a href="{% url 'index' %}">Index</a>
    <h1>{{review.review_title}}</h1>
    <p>{{review.user}}</p>
    <p>{{review.review_text}}</p>
    <p>{{review.votes}}</p>
    <time>{{review.pub_date}}</time>
    <hr>
    <div>
        <h2>Comentarios</h2>
    {% for comment in comments %}
        <ul>
            <li>
                <p>{{comment.user}}</p>
                <p>{{comment.comment_text}}</p>
                <p>{{comment.pub_date}}</p>
                <p>{{comment.votes}}</p>
            </li>
        </ul>
    {% endfor %}
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{commentForm}}
            <button type="submit">Comentar</button>
        </form>
    </div>
</body>
</html>