<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>

    {% if page == 'http://127.0.0.1:8000/login/'%}
    <p>Has iniciado sesión correctamente</p>
    {% elif page == 'http://127.0.0.1:8000/' %}
    <p>Has cerrado sesión</p>
    {% endif %}
    
    <h1>Reseñas</h1>
    {% if user.is_authenticated%}
    <div>
        <p>Estás logeado como {{user.username}}</p>
        <a href="{%url 'user_logout'%}">Cerrar sesión</a>
    </div>
    {% else %}
        <a href="/login/">Iniciar sesión</a>
        <a href="/register/">Registrarse</a>
    {% endif %}
    <div>
        Número de reseñas: {{no_reviews}}
        <ul>
        {% for review in reviews %}
            <li><a href="review/{{review.id}}">{{review}}</a></li>
        {% endfor %}
        </ul>
    </div>
    <a href="review/new_review">Create review</a>
</body>
</html>